<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <form method="POST" {{ form_enctype(form) }}>
        {{ form_row(form.name) }}

        <ul class="plats" data-prototype="{{ form_widget(form.plats.vars.prototype)|e }}">

        </ul>

        {{ form_rest(form) }}
        </form>
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="{{ asset('bundles/etsmenu/js/test.js')}}"></script>
 
    </body>
</html>