{% extends '::base.html.twig' %}

{% block body %}
<ul>
{% for menu in menus %}
    <li>{{menu.name}}
        <ul>
        {% for plat in menu.plats %}
            <li>
                {{ plat.name }} - {{ plat.price }}$ - {{ plat.description }}
            </li>
        {%endfor%}
        </ul>
    </li>
{%endfor%}
</ul>

<a href="{{ path('ets_commande_add', {'restaurant': restaurant.id}) }}">Passer commande</a>

{% if is_granted('ROLE_RESTAURATEUR') and restaurant.restaurateur == app.user %}
    <a href="{{ path('ets_menu_add', {'restaurant': restaurant.id}) }}">Add a Menu</a>
{%endif%}
{% endblock %}