{% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <div class="alert alert-{{ label }}">
            {{ flash }}
        </div>
    {% endfor %}
{% endfor %}

<br/>
<br/>

<ul>
{% for menu in menus %}
    <li>{{menu.name}}
        <ul>
        {% for plat in menu.plats %}
            <li>
                {{ plat.name }} - {{ plat.price }}$ - {{ plat.description }}
            </li>
        {%endfor%}
        </ul>
    </li>
{%endfor%}
</ul>


{% if is_granted('ROLE_RESTAURATEUR') and restaurant.restaurateur == app.user %}
    <a href="{{ path('ets_menu_add', {'restaurant': restaurant.id}) }}">Add a Menu</a>
{%endif%}